{% extends "admin/change_list.html" %}
{% load i18n %}
{% load admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li><a href="{% url opts|admin_urlname:"analytics" %}" class="analytics_link">{% trans "Analytics" %}</a></li>
    {% if has_import_permission %}
        <li><a href="{% url opts|admin_urlname:"import" %}" class="import_link">{% trans "Import" %}</a></li>
    {% endif %}
    {% if has_export_permission %}
        <li><a href="{% url opts|admin_urlname:"export" %}" class="import_link">{% trans "Export" %}</a></li>
    {% endif %}
{% endblock %}
